body {
  background: whitesmoke; /* Fallback for older browsers */
  background: linear-gradient(to right, whitesmoke, #e1e1e1); /* Gradient */
}

.navbar {
  background: #1a1a1a;
  background: linear-gradient(to right, #0d6efd, #6610f2);
}

