@mixin modificarNumericos {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
@mixin tarjetamodel($color, $boxColor) {
  background-color: $boxColor;
  margin: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 8px 5px $color;
  transition: 0.4s;
  &:hover {
    box-shadow: 0 0 12px 5px $color;
  }
}
@mixin btn(
  $backColor: rgb(101, 65, 23),
  $shadowBox: rgb(95, 236, 95),
  $shadowHover: rgb(203, 134, 56),
  $texto: rgb(203, 134, 56),
  $textoHover: rgb(63, 189, 63)
) {
  background-color: $backColor;
  border: none;
  box-shadow: 0 0 8px $shadowBox;
  transition: 0.4s;
  color: $texto;
  &:hover {
    box-shadow: 0 0 15px $shadowHover;
    color: $textoHover;
  }
}
@mixin pseudoInput($verde1, $verde2) {
  box-shadow: 0 0 15px rgb(203, 134, 56);
  border: solid 1px $verde1;
  box-shadow: 0 0 8px $verde2;
}
